<h2>住所情報登録</h2>

<%= form_for @address do |f| %>
  <%= render "devise/shared/error_messages", resource: @address %>



  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </div>

 <div class="field">
    <%= f.label :prefecture %><br />
    <%= f.collection_select :prefecture, Prefecture.all, :id, :name,{include_blank: "---"} %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :block_number %><br />
    <%= f.text_field :block_number %>
  </div>

  <div class="field">
    <%= f.label :apartment_name %><br />
    <%= f.text_field :apartment_name%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>