.single-container
  %header.single-header
    %h1.single-header__logo--center
      = link_to "#" do
        =image_tag("material/logo/logo.png", width:"160",height:"50" )
  %main.single-main-login
    %section.single-main__container
      %h2.login-form-inner
        ログイン
      .login-form-inner__form__frame 
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group
            = f.label :email
            %br/
            = f.email_field :email, {autofocus: true, autocomplete: "メールアドレス", placeholder: "登録したメールアドレス", class: 'form-group__input'}
          .form-group
            = f.label :password
            %br/
            = f.password_field :password,{ autocomplete: "パスワード", placeholder: "登録したパスワード", class: 'form-group__input'}
          - if devise_mapping.rememberable?
            .form-group
              = f.submit "ログイン", class: "btn-default btn-red"
    

= render "devise/registrations/registration_footer"

