%section.pickupContainer
  %h2.pickupContainer__head
    ピックアップカテゴリー
  .pickupContainer__productBox
    .pickupContainer__productBox__head
      =link_to "#" do
        %h3.title
          新規投稿商品
    .pickupContainer__productBox__lists
      .pickupContainer__productBox__lists__list
        =link_to "#", class: "pickupContainer__productBox__lists__list__a" do
          %figure.pickupContainer__productBox__lists__list__a--img
            = image_tag "dummy/ando.jpg",class: "pickupContainer__productBox__lists__list__a--img__pice"
          .pickupContainer__productBox__lists__list__a__body
            %h3.pickupContainer__productBox__lists__list__a__body__name
              ee
            .pickupContainer__productBox__lists__list__a__body__details
              %ul
                %li
                  1000円
                %li
                  %i.like
              %p
                （税込）
      .pickupContainer__productBox__lists
      .pickupContainer__productBox__lists__list
        =link_to "#", class: "pickupContainer__productBox__lists__list__a" do
          %figure.pickupContainer__productBox__lists__list__a--img
            = image_tag "dummy/anzai.jpg",class: "pickupContainer__productBox__lists__list__a--img__pice"
          .pickupContainer__productBox__lists__list__a__body
            %h3.pickupContainer__productBox__lists__list__a__body__name
              ee
            .pickupContainer__productBox__lists__list__a__body__details
              %ul
                %li
                  1000円
                %li
                  %i.like
              %p
                （税込）
      .pickupContainer__productBox__lists
      .pickupContainer__productBox__lists__list
        =link_to "#", class: "pickupContainer__productBox__lists__list__a" do
          %figure.pickupContainer__productBox__lists__list__a--img
            = image_tag "dummy/ecdc.jpg",class: "pickupContainer__productBox__lists__list__a--img__pice"
          .pickupContainer__productBox__lists__list__a__body
            %h3.pickupContainer__productBox__lists__list__a__body__name
              ee
            .pickupContainer__productBox__lists__list__a__body__details
              %ul
                %li
                  1000円
                %li
                  %i.like
              %p
                （税込）
      .pickupContainer__productBox__lists
      .pickupContainer__productBox__lists__list
        =link_to "#", class: "pickupContainer__productBox__lists__list__a" do
          %figure.pickupContainer__productBox__lists__list__a--img
            = image_tag "dummy/josef.jpg",class: "pickupContainer__productBox__lists__list__a--img__pice"
          .pickupContainer__productBox__lists__list__a__body
            %h3.pickupContainer__productBox__lists__list__a__body__name
              ee
            .pickupContainer__productBox__lists__list__a__body__details
              %ul
                %li
                  1000円
                %li
                  %i.like
              %p
                （税込）

-# ピックアップブランド
%section.pickupContainer
  %h2.pickupContainer__head
    ピックアップブランド
  .pickupContainer__productBox
    .pickupContainer__productBox__head
      =link_to "#" do
        %h3.title
          アーカイバ
    .pickupContainer__productBox__lists
      .pickupContainer__productBox__lists__list
        =link_to "#", class: "pickupContainer__productBox__lists__list__a" do
          %figure.pickupContainer__productBox__lists__list__a--img
            = image_tag "dummy/kamen.jpg",class: "pickupContainer__productBox__lists__list__a--img__pice"
          .pickupContainer__productBox__lists__list__a__body
            %h3.pickupContainer__productBox__lists__list__a__body__name
              ee
            .pickupContainer__productBox__lists__list__a__body__details
              %ul
                %li
                  1000円
                %li
                  %i.like
              %p
                （税込）
      .pickupContainer__productBox__lists
      .pickupContainer__productBox__lists__list
        =link_to "#", class: "pickupContainer__productBox__lists__list__a" do
          %figure.pickupContainer__productBox__lists__list__a--img
            = image_tag "dummy/ooba.jpg",class: "pickupContainer__productBox__lists__list__a--img__pice"
          .pickupContainer__productBox__lists__list__a__body
            %h3.pickupContainer__productBox__lists__list__a__body__name
              ee
            .pickupContainer__productBox__lists__list__a__body__details
              %ul
                %li
                  1000円
                %li
                  %i.like
              %p
                （税込）
      .pickupContainer__productBox__lists
      .pickupContainer__productBox__lists__list
        =link_to "#", class: "pickupContainer__productBox__lists__list__a" do
          %figure.pickupContainer__productBox__lists__list__a--img
            = image_tag "dummy/sel.jpg",class: "pickupContainer__productBox__lists__list__a--img__pice"
          .pickupContainer__productBox__lists__list__a__body
            %h3.pickupContainer__productBox__lists__list__a__body__name
              ee
            .pickupContainer__productBox__lists__list__a__body__details
              %ul
                %li
                  1000円
                %li
                  %i.like
              %p
                （税込）
      .pickupContainer__productBox__lists
      .pickupContainer__productBox__lists__list
        =link_to "#", class: "pickupContainer__productBox__lists__list__a" do
          %figure.pickupContainer__productBox__lists__list__a--img
            = image_tag "dummy/tama.jpg",class: "pickupContainer__productBox__lists__list__a--img__pice"
          .pickupContainer__productBox__lists__list__a__body
            %h3.pickupContainer__productBox__lists__list__a__body__name
              ee
            .pickupContainer__productBox__lists__list__a__body__details
              %ul
                %li
                  1000円
                %li
                  %i.like
              %p
                （税込）







