%section.topMiddleDl
  .topMiddleDl__inner
    %h2.topMiddleDl__inner--subtitle 会員数日本一位
    %p.topMiddleDl__inner--text
      FURIMAは、フリマアプリで最も人気。
      %br/
      出品・購入回数も業界最多です！
      %br/
      ほしかったあの商品に出会えるかもしれません。
    .topMiddleDl__inner__btn
      = link_to "#",class: "topMiddleDl__inner__btn__link" do
        = image_tag "app-store.svg",class: "topMiddleDl__inner__btn--link--img"
      = link_to "#",class: "topMiddleDl__inner__btn__link" do
        = image_tag "gougleplay.svg",class: "topMiddleDl__inner__btn--link--img"

  -# ここから2ブロック目
%section.topKeyFeatures
  %h2.head
    FURIMAの特徴
    .head__line
  .items
    %section.items__item
      %figure.items__item__img
        = image_tag "material/icon/icon-01.png",class: "tag"
      %h3.items__item__subtitle 簡単に売り買いできる
      %p.items__item__detail
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    %section.items__item
      %figure.items__item__img
        = image_tag "material/icon/icon-03.png",class: "tag"
      %h3.items__item__subtitle 売上金は即日振込みに対応
      %p.items__item__detail
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    %section.items__item
      %figure.items__item__img
        = image_tag "material/icon/icon-04.png",class: "tag"
      %h3.items__item__subtitle 様々な支払いに対応
      %p.items__item__detail
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
