!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FleamarketSample78D
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "header_footer/header", :media => "all"
    -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.boss
      .header-inner 
        .header-inner__main
          %h1.header-inner__main--icon
            %a.header-inner__main--icon__img
              = image_tag 'material/logo/logo.png', alt: 'FURIMA', class: 'header-inner__main--icon__img'
          .header-inner__main--search-box
            %form.header-inner__main--search-box__form{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
              %input.header-inner__main--search-box__form__input{:name => "utf8", :type => "hidden", :value => "✓"}
              %input#searchInput.header-inner__main--search-box__form__input{:name => "key", :placeholder => "キーワードから探す"}
              %button.header-inner__main--search-box__form__button{:type => "submit"}
                .header-inner__main--search-box__form__button__icon
                  = image_tag 'material/icon/icon-search1.png', alt: 'search', class: ''
              %input{:name => "authenticity_token", :type => "hidden"}
          %ul.header-inner__main--resultlist
          -# ここからナビバー
        .header-inner__nav
          %ul.header-inner__nav--lists-left
            %li.header-inner__nav--lists-left__item.header-inner__nav--lists-left__item__first
              =link_to "カテゴリー","#"
            %li.header-inner__nav--lists-left__item
              =link_to "ブランド","#"
          %ul.heafer-inner__nav--lists-right
            %li.heafer-inner__nav--lists-right__login
            %li.heafer-inner__nav--lists-right__new
        = yield


